.chat-context {
  display: flex;
  height: 42px;
  padding: 0 17px 5px;
  align-items: center;
  gap: 8px;
  color: #343434;
  background: #f0f0ef;
  border-radius: 19px 19px 0 0;
  font-size: 14px;
}

.chat-context svg {
  width: 16px;
  height: 16px;
  stroke-width: 1.6;
}
