[submodule "AXorcist"]
	path = AXorcist
	url = https://github.com/openclaw/AXorcist.git
	branch = main
[submodule "Tachikoma"]
	path = Tachikoma
	url = https://github.com/openclaw/Tachikoma.git
	branch = main
[submodule "Commander"]
	path = Commander
	url = https://github.com/steipete/Commander.git
	branch = main
[submodule "TauTUI"]
	path = TauTUI
	url = https://github.com/steipete/TauTUI.git
	branch = main
[submodule "Swiftdansi"]
	path = Swiftdansi
	url = https://github.com/steipete/Swiftdansi.git
	branch = main
